@import "./shared/normalize.css";
@import "./shared/font.css";
@import "./shared/variables.scss";

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  color: $white;
  background-color: $dark;
}

a {
  text-decoration: none;
  color: $white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}
