@import '../../styles/shared/variables.scss';

.Movie {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, .2);
  padding: 15px;
  width: 530px;
  margin: 0 15px 15px 0;

  .poster {
    width: 165px;
    height: 250px;
    flex-shrink: 0;
    margin-right: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:hover {
      cursor: pointer;

      > .mask {
        visibility: visible;
      }
    }

    .mask {
      visibility: hidden;
      background-color: rgba(0, 0, 0, .75);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      .icon {
        font-size: 36px;
        width: 77px;
        height: 77px;
        border: 3px solid $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $primary;

    .actions {
      display: flex;

      > .Button {
        margin-right: 15px;
      }
    }

    label {
      color: $secondary;
    }
  }
}
